.hover-a:hover {
  span:last-child {
      opacity: 1;
  }
}

.transition-change-sun {
  transition: 0.4s;
  transform: rotate(90deg);
}

.transition-change-back-sun {
  transition: 0.4s;
  transform: rotate(0deg);
}

.transition-change-moon {
  transition: 0.1s;
  transform: rotate(9deg);
}

.transition-change-back-moon {
  transition: 0.1s;
  transform: rotate(0deg);
}

.transition-change {
  transition: 0.3s;
  transform: translateX(33px);
}

.transition-change-back {
  transition: 0.3s;
  transform: translateX(0);
}

.transition-active {
  display: flex;
  animation: active 0.1s forwards;
}

.transition-active-back {
  animation: un-active 0.1s forwards;
}

@keyframes active {
  from {
      opacity: 0;
      transform: scale(0.5);
  }
  to {
      opacity: 1;
      transform: scale(1);
  }
}

@keyframes un-active {
  from {
      display: flex;
      opacity: 1;
      transform: scale(1);
  }
  to {
      display: none;
      opacity: 0;
      transform: scale(0.5);
  }
}

.monthly {
  animation: monthly 0.3s forwards;
}

.yearly {
  animation: yearly 0.3s forwards;
}

@keyframes monthly {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0%);
  }
}

@keyframes yearly {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(100%);
  }
}

.transition-pick {
  transition: 0.3s;
}